<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d28d95f6-3cb0-428d-a594-1c1c715ec0dc/resourceGroups/VanHackWebApp/providers/Microsoft.Web/sites/VanHackWebApp</ResourceId>
    <ResourceGroup>VanHackWebApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://vanhackwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>vanhackwebapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>VanHackWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$VanHackWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:vanhackdb.database.windows.net,1433;Initial Catalog=VanHack;Integrated Security=False;Persist Security Info=False;User ID=kolexinfos;Password=Funnys514000;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:vanhackdb.database.windows.net,1433;Initial Catalog=VanHack;Integrated Security=False;Persist Security Info=False;User ID=kolexinfos;Password=Funnys514000;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VanHackAPI.AuthContext, VanHackAPI" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VanHackEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:vanhackdb.database.windows.net,1433;Initial Catalog=VanHack;Integrated Security=False;Persist Security Info=False;User ID=kolexinfos;Password=Funnys514000;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:vanhackdb.database.windows.net,1433;Initial Catalog=VanHack;Integrated Security=False;Persist Security Info=False;User ID=kolexinfos;Password=Funnys514000;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VanHackAPI.VanHackEntities, VanHackAPI" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="VanHackEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/VanHack.csdl|res://*/VanHack.ssdl|res://*/VanHack.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:vanhackdb.database.windows.net,1433;Initial Catalog=VanHack;Integrated Security=False;Persist Security Info=False;User ID=kolexinfos;Password=Funnys514000;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vanhackdb.database.windows.net,1433;Initial Catalog=VanHack;Integrated Security=False;Persist Security Info=False;User ID=kolexinfos;Password=Funnys514000;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>